<div class="container mt-3">
  <div class="row">
    <div class="col-4">
      <panel-muestra-producto [arrMostrar]="arrComida" titulo="COMIDA"
        (onClickSendProducto)="setProductToComanda($event)">
      </panel-muestra-producto>
      <panel-muestra-producto [arrMostrar]="arrBebida" titulo="BEBIDA"
        (onClickSendProducto)="setProductToComanda($event)">
      </panel-muestra-producto>
    </div>

    <div class="col-8">
      <comanda [arrComanda]="arrComanda" [uniqueArray]="uniqueArray" titulo="COMANDA"
        (sumarUno)="setProductToComanda($event)" (restarUno)="borrarProducto($event)"></comanda>
    </div>
  </div>
</div>